@import "https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap";
.container-startpage {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	height: 35vh;
	position: relative;
}
.btn-startpage {
	border: none;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -15px;
	width: 80%;
	button {
		border: none;
		text-align: center;
		padding: 10px 32px;
		margin: 0px 10px;
	}
}
.info {
	position: relative;
	font-size: 30px;
	font-family: 'ZCOOL KuaiLe', cursive;
	color: #ccc;
	text-shadow: 0px 1.5px 2px rgb(46, 46, 46);
}
.paragraph-start {
	max-width: 500px;
	text-align: center;
	padding: 25px;
	margin: auto;
}
