@import "https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap";
.container-profile {
	margin: auto;
	background-color: rgba($color: #000, $alpha: 0.5);
	box-shadow: 2px 2px 20px 2px rgba($color: #000000, $alpha: 0.5);
	max-width: 800px;
	height: auto;
	min-height: 700px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	overflow: hidden;
	h1 {
		height: 60px;
		background: #3d3f3c;
		color: #ccc;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-shadow: 0px 2px 5px rgb(46, 46, 46);
	}
}
.profile-form {
	width: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0px auto;
	align-items: center;
	button {
		margin-top: 20px;
	}
}
.label-profile {
	color: #ccc;
	text-shadow: 0px 2px 3px rgb(46, 46, 46);
	font-weight: bold;
	margin: 8px 0;
}
.profile-input {
	width: 100%;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
