.onlyForMargin {
	margin-bottom: 40px;
}
.utility-column {
	display: grid;
	margin: 0 auto;
	max-width: 1200;
	grid-gap: 1rem;
}
.utility {
	background-color: rgba(155, 155, 155, 0.726);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	padding: 40px;
	margin: 40px;
}
.p-admin {
	color: #ccc;
	font-weight: bold;
	text-shadow: 0px 3px 3px rgb(46, 46, 46);
}
.select-country {
	color: #ccc;
	font-weight: bold;
	text-shadow: 0px 3px 3px rgb(46, 46, 46);
}
.input-admin {
	width: 50%;
	padding: 5px 10px;
	margin-top: 5px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.countries {
	font-weight: bolder;
}
.shipments {
	font-weight: bolder;
}
.shipmentStatus {
	font-weight: bolder;
}
.status-select-row {
	display: flex;
}
.admin-page-shipments {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	max-width: 1000px;
	margin: auto;
	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		background: #3d3f3c;
		color: #ccc;
		margin-bottom: 10px;
		text-shadow: 0px 2px 5px rgb(46, 46, 46);
		box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	}
	h3 {
		color: #ccc;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		background: #3d3f3c;
		text-shadow: 0px 2px 5px rgb(46, 46, 46);
		box-shadow: 0 2px 5px rgba(0,0,0,0.5);
		border-radius: 3px;
	}
}
.admin-page-lists {
	padding: 10px 20px;
}
.admin-page-list {
	padding: 10px 20px;
}
@media (min-width: 600px) {
	.utility-column {
		grid-template-columns: repeat(2, 1fr);
	}
}
