.shipment-item {
	display: flex;
	background: #C0C5C1;
	align-items: center;
	border: none;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	p {
		text-align: left;
		margin: 0 10px;
	}
}
.shipment-color-box {
	height: 35px;
	width: 35px;
	border: solid 2px;
}
.shipment-name {
	flex: auto;
}
