
.main-page-shipments {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 1000px;
    margin: auto;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background: #3d3f3c;
        color: #ccc;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        text-shadow: 0px 2px 5px rgb(46, 46, 46);
    }
    h3 {
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        background:#3d3f3c;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        text-shadow: 0px 2px 5px rgb(46, 46, 46);
        border-radius: 3px;
    }
    > button  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
}

.main-page-lists {
    padding: 10px 20px;
}

.main-page-list {
   
    padding: 0 20px;
}

