.modal {
	display: flex;
	z-index: 200;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	align-content: center;
}
.modal-back {
	z-index: 200;
	position: absolute;
	background: rgba($color: black, $alpha: 0.3);
	border: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-front {
	border-radius: 4px;
	z-index: 201;
	background-color: white;
	pointer-events: painted;
	padding: 20px;
	width: fit-content;
	height: fit-content;
	box-shadow: 0 0 5px black;
}
