.order-model-div {
	min-width: 50vw;
	max-width: 700px;
	width: fit-content;
	div {
		padding: 20px;
		text-align: left;
	}
}
.order-model-status {
	display: flex;
	padding: 0px !important;
	justify-content: space-between;
	p {
		margin: 7px 10px;
	}
}
