/* Custom Select */
/* Arrow */
/* Transition */
select {
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0;
	background: transparent;
	background-image: none;
	flex: 1;
	padding: 12px 20px;
	color: black;
	cursor: pointer;
	text-shadow: 0px 1px 2px rgb(46, 46, 46);
	font-size: 15px;
	text-shadow: none !important;
	&:focus {
		outline: auto;
	}
}
.select {
	position: relative;
	display: flex;
	width: 100%;
	line-height: 3;
	background: #fff;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	overflow: hidden;
	&::after {
		content: '\25BC';
		position: absolute;
		top: -0.2em;
		right: 0;
		padding: 0 0.75em;
		background: transparent;
		color: #ccc;
		cursor: pointer;
		pointer-events: none;
		-webkit-transition: .25s all ease;
		-o-transition: .25s all ease;
		transition: .25s all ease;
	}
	&:hover {
		&::after {
			color: #000;
		}
	}
}
