header {
	position: fixed;
	top: 0;
	width: 80%;
	background-color: #343633e8;
	display: flex;
	justify-content: space-between;
	padding: 10px 10%;
	align-items: center;
	z-index: 50;
	box-shadow: 0 0 5px rgb(46, 46, 46);
}
.header-title {
	font-family: 'Terminator Real NFI', sans-serif;
	text-decoration: none;
	color: #ccc;
	overflow: hidden;
	width: 350px;
	text-align: left;
	text-shadow: 0px 3px 5px rgb(46, 46, 46);
}
.header-profile {
	position: relative;
	width: fit-content;
	max-width: calc(80vw - 350px);
	img {
		margin-left: 10px;
		height: 40px;
		border-radius: 20px;
	}
}
.header-profile-button {
	p {
		width: calc(100% - 50px);
		overflow: hidden;
		text-overflow: ellipsis;
	}
	flex: auto;
	width: fit-content;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #ccc;
	font-weight: bold;
	width: 100%;
	text-shadow: 0px 1px 5px rgb(46, 46, 46);
}
.header-drop-down-open {
	transform: scaleY(1) !important;
}
.header-drop-down {
	transform-origin: top;
	transition: all 100ms ease-in;
	transform: scaleY(0);
	overflow: hidden;
	position: absolute;
	bottom: auto;
	right: 0;
	margin-top: 7px;
	background: #343633e8;
	display: flex;
	z-index: 100;
	flex-direction: column;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 1px;
	button {
		padding: 10px;
		font-size: 16px;
		text-decoration: none;
		border: none;
		background: none;
		color: #ccc;
		pointer-events: painted;
		text-shadow: 0px 1px 5px rgb(46, 46, 46);
	}
}
.header-drop-down-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	border: none;
	z-index: 99;
	background: none;
}
@media only screen and (max-width: 700px) {
	.header-profile-button {
		p {
			display: none;
		}
	}
	.header-title {
		font-size: 10px;
	}
	.header-profile {
		max-width: 40px;
		img {
			margin: 0;
		}
	}
}
