.App {
	text-align: center;
}
.page {
	padding: 90px 10vw;
	width: 80vw;
}
input[type="text"] {
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="email"] {
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.primary {
	background: #ccc;
}
.secondary {
	background: #3dfa2c;
}
.btn {
	font-weight: bold;
	border-radius: 4px;
	border: none;
	text-align: center;
	padding: 10px 32px;
	margin: 0px 10px;
	cursor: pointer;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	text-shadow: 0px 2px 2px rgb(156, 156, 156);
	&:hover {
		box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}
}
.start-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
label {
	font-weight: bold;
}
