.new-order-modal-div {
	min-width: 50vw;
	max-width: 700px;
	width: fit-content;
	form {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 20px;
		>p {
			margin: 7px;
			margin-bottom: 20px;
		}
	}
	hr {
		margin: 8px 0;
	}
}
.new-order-modal-input-div-inline {
	display: flex;
	justify-content: space-between;
	margin: 7px;
	margin-top: 14px;
	align-items: center;
	label {
		margin-bottom: 5px;
		font-size: 14px;
	}
}
.new-order-modal-input-div {
	display: flex;
	justify-content: space-between;
	margin: 7px;
	flex-direction: column;
	label {
		margin-bottom: 5px;
		font-size: 14px;
	}
}
